
#footer {
    background: transparent !important;
}

#page-header {
    background: transparent !important;
}

/* #toggle-sidebar {
    bottom: 80px
} */

/* #page, */
#archive,
#tag,
#category,
#recent-posts .recent-post-item:not(:first-child),
#aside-content .card-widget {
    background: rgba(255, 255, 255, 0.9) !important
}
.history_slide{
    background: none !important;
}
[data-theme=dark] #page,
[data-theme=dark] #archive,
[data-theme=dark] #tag,
[data-theme=dark] #category,
[data-theme=dark] #aside-content .card-widget,
[data-theme=dark] #recent-posts>.recent-post-item:not(:first-child) {
    background: rgba(0, 0, 0, .7) !important;
}

[data-theme=dark] #aside-content .card-clock .card-background {
    background: #000;
}

[data-theme=dark] #gitcalendar .contrib-column {
    border-left: 1px solid #99a9bf;
    border-top: 1px solid #99a9bf;
}

[data-theme=dark] #gitcalendar .contrib-column-first {
    border-left: 0 !important;
}